#root {
    margin:  200px auto 0;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.denomination {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}

.denomination p{
    margin: 0 5% 0;
}

.input {
    height: 75px;
}

.input-fields {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    margin-bottom: 20px;
}

.input-fields input {
    margin: 0 5% 0;
}

.error-msg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}

.error-day {
    border-color: red;
    color: red;
}

.error-month {
    border-color: red;
    color: red;
}

.error-year {
    border-color: red;
    color: red;
}

.error-msg p {
    margin: 0 5% 0;
}

.submit-form{
    display: flex;
}

.submit-form hr{
    height: 0px;
    width: 75%;
    margin: 1% 0 1%;
}
.results {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
}

.attribution {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* hacks */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}